doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/selectize.css')
    link(rel='stylesheet', href='/stylesheets/simple-slider.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js')
    script(src="/javascripts/bootstrap.js")
    script(src="/javascripts/selectize.js")
    
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='#') GroupThink      
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') Home      
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                | Profile 
                span.caret    
              ul.dropdown-menu(role='menu')
                li
                  a(href='/profile') Profile
                li.divider
                li
                  a(href='/logout') Logout
  body
      block content

